<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <p>
        <a href="/"> HOME PAGE </a>
      </p>

    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
<body>
    <form method="GET" action="/calculateRecipe" id="calculateRecipeForm"></form>
  <div>
    <table>

      <tr>
        <td>ingredient name</td>
        <td>Typical value per</td>
        <td>Unit of the typical value</td>
        <td>Carbs per</td>
        <td>Unit of the carbs</td>
        <td>Protein per</td>
        <td>Unit of the protein</td>
        <td>Fat per</td>
        <td>Unit of the fat</td>
        <td>Quantity</td>
      </tr>

      <% availableBooks.forEach(function(ingredient) { %>
        <tr>
          <td><%= ingredient.name %></td>
          <td><%= ingredient.Typical_values_per %></td>
          <td><%= ingredient.Unit_of_the_typical_value %></td>
          <td><%= ingredient.Carbs_per %></td>
          <td><%= ingredient.Unit_of_the_carbs %></td>
          <td><%= ingredient.Protein_per %></td>
          <td><%= ingredient.Unit_of_the_protein %></td>
          <td><%= ingredient.Fat_per %></td>
          <td><%= ingredient.Unit_of_the_fat %></td>
          <td><input type="number" name="<%= ingredient.name %>" form="calculateRecipeForm" value="0"></td>
        </tr>
      <% }) %>
    </table>
  </div>

  <div>
    <input type="submit" value="Calculate Recipe" form="calculateRecipeForm">
  </div>
</body>
</html>
